* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  /* Body */
  body {
    background-color: rgba(162, 204, 196, 1);
    color: black;
    /*min-height: 3000px;*/
  }
  /* Navbar Awal */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
  }
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Lobster Two";
    font-style: italic;
    color: black;
  }
  .navbar .navbar-nav a {
    color: black;
    font-size: 1rem;
    font-family: "Raleway";
    margin: 1.5rem;
    font-weight: 500;
  }
  .navbar .navbar-nav a:hover {
    color: blue;
  }
  .navbar .navbar-extra a {
    color: black;
  }
  .navbar .navbar-extra a:hover {
    color: blue;
  }
  .feather {
    width: 30px;
    height: 30px;
  }
  #hamburger-menu {
    display: none;
  }
.main{
  padding: 4rem 3% 1.4rem;
  min-height: 100vh;
}
.main h2{
  color: black;
  padding-top: 4rem;
  text-align: center;
  font-family: "Lobster Two";
  font-size: 3rem;
  font-weight: bold;
  width: 15%;
  margin: 0 auto;
  border-bottom: 1.5px solid black;
}
.main .row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  gap: 1.3rem;
}
.main .row .image{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5 ease;
}
.main .row .image:hover{
  transform: scale(1.1);
}
.main .row .image .app-logo{
  width: 300px;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1.5rem;
}