* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  /* Body */
  body {
    background-color: #a2ccc4;
    color: black;
    min-height: 3000px;
  }
  
  /* Navbar Awal */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
  }
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Lobster Two";
    font-style: italic;
    color: black;
  }
  .navbar .navbar-nav a {
    color: black;
    font-size: 1rem;
    font-family: "Raleway";
    margin: 1.5rem;
    font-weight: 500;
  }
  .navbar .navbar-nav a:hover {
    color: blue;
  }
  .navbar .navbar-extra a {
    color: black;
  }
  .navbar .navbar-extra a:hover {
    color: blue;
  }
  .feather {
    width: 30px;
    height: 30px;
  }
  #hamburger-menu {
    display: none;
  }
  .daftar-menu {
    padding: 4rem 3% 1.4rem;
    min-height: 100vh;
  }
  .daftar-menu h2 {
    color: #000000;
    padding-top: 4rem;
    text-align: center;
    font-family: "Lobster Two";
    font-size: 3rem;
    font-weight: bold;
    width: 25%;
    margin: 0 auto;
    border-bottom: 1.5px solid black;
  }
  .daftar-menu .row{
      display: flex;
      flex-wrap: wrap;
      margin-top: 5rem;
      justify-content: center;
      gap: 1.3rem;
  }
  .menu-card{
      text-align: center;
      background-color: #ffffff5e;
      border-radius: 15px;
      font-family: "Raleway";
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .menu-card:hover{
      transform: scale(1.1);
      background-color: #ffffff;
  }
  .daftar-menu .row .menu-card .menu-card-img{
      width: 300px;
      object-fit: cover;
      border-radius: 2rem;
      padding: 1.5rem;
  }
  .daftar-menu .row .menu-card .button{
      background-color: #fffe00;
      color: black;
      font-size: 1rem;
      padding: 0.5rem 2rem;
      border-radius: 10px;
      font-family: "Raleway";
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .daftar-menu .row .menu-card .button:hover{
      background-color: #a2ccc4;
      transform: scale(1.1);
    }
    /* Media Queries */
  /* Tablet */
  @media (max-width: 758px) {
    html {
      font-size: 62.5%;
    }
    #hamburger-menu {
      display: inline-block;
    }
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgb(16, 218, 117);
      width: 20rem;
      height: 100vh;
      transition: 300ms;
    }
    .navbar .navbar-nav.active {
      right: 0;
    }
    .navbar .navbar-nav a {
      display: block;
      margin: 20px;
      padding: 20px;
      font-size: 15px;
    }
    /* Membuat gambar responsif */
    .main .content .image img {
      width: 100%; /* Mengubah lebar menjadi 100% */
      height: auto; /* Memastikan rasio gambar tetap terjaga */
    }
  }
  /* HP */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
    #hamburger-menu {
      display: inline-block;
    }
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgb(16, 218, 117);
      width: 20rem;
      height: 100vh;
      transition: 300ms;
    }
    .navbar .navbar-nav.active {
      right: 0;
    }
    .navbar .navbar-nav a {
      display: block;
      margin: 20px;
      padding: 20px;
      font-size: 15px;
    }
    /* Responsif untuk layar HP */
    .main .content .image img {
      width: 100%; /* Mengubah lebar menjadi 100% */
      height: auto; /* Memastikan rasio gambar tetap terjaga */
    }
  }